<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devic-md.e-width, initial-scale=1.0">
    <title>HMS</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <button class="menu-toggle">☰</button> 
    <div class="container">
        <div class="sidebar">
            <ul class="nav-list">
                <li>
                    <a href="dashboard.html" th:href="@{/dashboard}">
                        <img src="asset/dashboard.png" class="icon">
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="asset/doctor.png" class="icon">
                        <span>Doctor</span>
                        <img class="dropdown" src="asset/down-arrow.png">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a  href="alldoctor.html" th:href="@{/alldoctor}"><img src="asset/medical-team.png" class="icon">All Doctors</a></li>
                        <li><a  href="adddoctor.html" th:href="@{/adddoctor}"><img src="asset/adddoc.png" class="icon">Add Doctor</a></li>
                        <li><a   href="appointment.html" th:href="@{/appointment}"><img src="asset/aptdoc.png" class="icon">Doctor Appointments</a></li>
                        <li><a   href="docscedule.html" th:href="@{/docscedule}"><img src="asset/schedule.png" class="icon">Doctor Schedule</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <img src="asset/patient.png" class="icon">
                        <span>Patient</span>
                        <img class="dropdown" src="asset/down-arrow.png">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="patientlist.html" th:href="@{/patientlist}"><img src="asset/patientlist.png" class="icon">Patient List</a></li>
                        <li><a href="addpatient.html" th:href="@{/addpatient}"><img src="asset/addpatient.png" class="icon">Add Patient</a></li>
                        <li><a href="patientpayment.html" th:href="@{/patientpayment}"><img src="asset/patientpayment.png" class="icon">Patient Payment</a></li>
                        <li><a href="roombook.html" th:href="@{/roombook}"><img src="asset/room-available.png" class="icon">Rooms</a></li>
                    </ul>
                </li>
                <li>
                    <a href="report.html" th:href="@{/report}">
                        <img src="asset/medical-report.png" class="icon">
                        <span>Reports</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="asset/accounts.png" class="icon">
                        <span>Accounts</span>
                        <img class="dropdown" src="asset/down-arrow.png">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="transactions.html" th:href="@{/transactions}"><img src="asset/transaction.png" class="icon">Transactons</a></li>
                        
                    </ul>
                </li>
               
            </ul>
        </div>
        
        <div class="main-content">
            <div class="header">
                <button class="menu-toggle">☰</button> <!-- Mobile Menu Button -->
                <div class="search-bar">
                    <input type="text" placeholder="Search">
                    <button><img src="search.png" class="search-icon"></button>
                </div>
                <div class="profile">
                    <img src="asset/profile.png" alt="Profile" class="profile-img">
                    <span>Md.Saikat Sikder</span>
                    <!-- Dropdown Content -->
                    <div class="profiledown">
                        <button class="close-btn">&times;</button> <!-- Close Button -->
                        <a href="profile.html" th:href="@{/profile}">Profile</a>
                        <a href="settings.html" th:href="@{/settings}">Settings</a>
                        <a href="index.html" th:href="@{/index}">Logout</a>
                    </div>
                </div>
            </div>
            
            <div class="form-wrapper">
                <h2>Basic Information</h2>
                <form>
                    <label for="full-name">Full Name</label>
                    <input type="text" id="full-name" name="full-name" required>
        
                    <label for="phone">Phone Number</label>
                    <input type="tel" id="phone" name="phone" required>
        
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" required>
        
                    <label><b>Gender:</b></label>
    <div class="option-group">
        <label for="male">
            <input type="radio" id="male" name="gender" value="male" checked> Male
        </label>
        <label for="female">
            <input type="radio" id="female" name="gender" value="female"> Female
        </label>
    </div>
        
                    <label for="appointment-date">Appointment Date</label>
                    <input type="date" id="appointment-date" name="appointment-date" required >
        
                    <label for="appointment-time">Appointment Time</label>
                    <input type="time" id="appointment-time" name="appointment-time" required>
        
                    <label for="reason">Select Reason</label>
                    <select id="reason" name="reason">
                        <option value="">Select Reason</option>
                        <option value="checkup">General Checkup</option>
                        <option value="consultation">Consultation</option>
                        <option value="followup">Follow-up</option>
                    </select>
        
                    <label for="doctor">Select Doctor</label>
                    <select id="doctor" name="doctor">
                        <option value="">Select Doctor</option>
                        <option value="dr-smith">Dr. Smith</option>
                        <option value="dr-jones">Dr. Jones</option>
                        <option value="dr-williams">Dr. Williams</option>
                    </select>
        
                    <label for="note">Add Note</label>
                    <textarea id="note" name="note" rows="3"></textarea>
        
                    <button type="submit" class="submit-btn">Submit</button>
                </form>
            </div>
            
            
        </div>
    </div>

    <script src="appointment.js"></script>
</body>
</html>
